<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>{% block title %}WBOR{% endblock %}</title>

<link rel="icon" type="image/png" href="/static/images/favicon.png">

<link rel="stylesheet" href="/static/css/bootstrap.min.css" />

<link rel="stylesheet" href="/static/css/page.css" />
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css" media="screen" />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript' src='/static/js/jquery-ui.js'></script>
<script type='text/javascript' src='/static/js/jquery.autocomplete.js'></script>
<script type='text/javascript' src='/static/js/jquery.lightbox.js'></script>
<script type='text/javascript' src='/static/js/jquery.tinymce.js'></script>
<script type='text/javascript' src='/static/js/jquery.form.js'></script>
<script type='text/javascript'>
    background = function() {
        document.body.style.background = 'url(/static/images/bg/' + (Math.round(Math.random() * 21) + 1) + '.gif)';
    }
        
    $(document).ready(function() {
        if ($('textarea.tinymce').length > 0) {
          $('textarea.tinymce').tinymce({
            script_url: '/static/js/tiny_mce.js',
            theme: "advanced",
          });
        }

        $("#nowplaying").mouseenter(function() {
            $("#showdeschidden").slideDown("medium");
        });
        $("#nowplaying").mouseleave(function() {
            $("#showdeschidden").slideUp("medium");
        });
        
        $(".datepicker").datepicker();
        
        nowPlaying();
        if ($("#delete-button")) {
            $("#delete-button").click(function() {
                return confirm("Are you sure you want to do this?");
            });
        }
        if ($(".artist-autocomplete").length > 0) {
            $(".artist-autocomplete").autocomplete({
                serviceUrl: '/ajax/artistcomplete',
                minChars: 1,
                width: $(".artist-autocomplete").width(),
                maxHeight: 400,
                onSelect: function(value, data) {
                    
                },
            });
        }
        if ($(".dj-autocomplete").length > 0) {
          $(".dj-autocomplete").each(function(index) {
            var p_key = $(this).attr("key");
            $(this).autocomplete({
              serviceUrl: '/ajax/djcomplete',
              minChars: 1,
              width: $(".dj-autocomplete").width(),
              maxHeight: 400,
              onSelect: function(value, data) {
                $.post("/dj/permissions",
                {
                  'dj_key': data,
                  'permission_key': p_key,
                  'action': "add",
                },
                function(data) {
                  if (data.err) {
                    alert(data.err);
                  } else {
                    var li = document.createElement("li");
                    li.innerHTML = value;
                    $("#" + p_key).append(li);
                    $("#msgbox").html(data.msg);
                  }
                }, "json");
              },
            });
          });
        }
        if ($("#albumlist li a").length > 0) {
            $("#albumlist li a").lightBox({
                imageLoading: '/static/images/lightbox-ico-loading.gif',
            	imageBtnClose: '/static/images/lightbox-btn-close.gif',
            	imageBtnPrev: '/static/images/lightbox-btn-prev.gif',
            	imageBtnNext: '/static/images/lightbox-btn-next.gif',
            	imageBlank: '/static/images/lightbox-blank.gif',
            });
        }
    });
    
    function nowPlaying() {
        // request currently-playing information; update page accordingly.
        // requests both now-playing box and recently-played box, if you're on the main page.
        $.get('/updateinfo', function(data) {
            $("#currentsong").html(data.song_string);
            $("#currentshow").html(data.program_title);
            $("#currentshow").attr('href', '/programs/' + data.program_slug);
            $("#currentshowdesc").html(data.program_desc + "<hr />" + data.top_played);
            if ($("#latestplays")) {
                $("#latestplays").html(data.recent_songs_html);
            }
        }, "json");
        nowPlayingTimer = setTimeout("nowPlaying()", 30000);
    }
</script>
{% block extra_scripts %}{% endblock %}
</head>
<body onLoad="background();">
<div id='outer-wrap' class='container' style='padding:18px;'>
<div id='wrap' style="margin:-10px; padding:10px;"><div id='header' style="margin:-10px; padding:10px;">
    <div class="row">
        <div class='span6' id='logo'><!-- Start header -->
            <a title='May 9, 7:00 pm' href='/'><img src='/static/images/transparentlogo.png'></a>
        </div>
    
        <div class='span3' id='voicewidget'>
          <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=149751eac6a0d999583c849fb23a20e411e05cf7&style=0" /></object>
        </div>
    
        <div class='span3'>
                <a href='/static/wbor.m3u' class="btn btn-warning">
                <strong>Listen now</strong>
                <br>
                Live internet stream
                </a>
        </div><!-- End header -->
    </div></div>

    <!-- This is for the "floating" navbar -->

    <div class='navbar' style="margin-left:-20px; margin-right:-20px;
         margin-bottom:0px;">
	 <div class='navbar-inner'><div class='container'><div class='row'><div class="span12">
          <ul class="nav pull-left">
            <li {% if news_selected %}class='active'{% endif %}><a href='/'>News</a></li>
            <li {% if events_selected %}class='active'{% endif %}><a href='/events'>Events</a></li>
            <li {% if schedule_selected %}class='active'{% endif %}><a href='/schedule'>Schedule</a></li>
            <li {% if playlists_selected %}class='active'{% endif %}><a href='/playlists'>Playlists</a></li>
            <li {% if charts_selected %}class='active'{% endif %}><a href='/charts'>Charts</a></li>
	    <li {% if fun_selected %}class='active'{% endif %}><a href='/fun'>Fun</a></li>
            <li {% if history_selected %}class='active'{% endif %}><a href='/history'>History</a></li>
            <li {% if contact_selected %}class='active'{% endif %}><a href='/contact'>Contact</a></li>
	</ul><ul class="nav pull-right">
            {% if "dj" in session %}
            <form class="navbar-form pull-left">
              <a class="btn btn-primary" href="/dj/chartsong">Chart Song</a>
            </form> 
            <li class="divider"></li>
            <li class="dropdown" id="djpanel">
              <a href="#djpanel" class="dropdown-toggle"
                 data-toggle="dropdown">
                DJ Panel ({{ session.dj.fullname }})
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><p>
                  <strong>{{ session.dj.fullname }}</strong>
                  <br>{{ session.program.title }}
                </p></li>
                <li><a href='/dj/logout'>Log out</a></li>
                <li class="divider">
                {% if session.dj.permissions %}
                {% if session.dj.permissions.manage_djs %}<li>
                  <a href='/dj/djs'>Manage DJs</a>
                </li>{% endif %}
                {% if session.dj.permissions.manage_programs %}<li>
                  <a href='/dj/programs'>Manage Programs</a>
                </li>{% endif %}
                {% if session.dj.permissions.manage_albums %}<li>
                  <a href='/dj/albums'>Manage Albums</a>
                </li>{% endif %}
                {% if session.dj.permissions.manage_events %}<li>
                  <a href='/dj/event'>New Event</a>
                </li>{% endif %}
                {% if session.dj.permissions.manage_genres %}<!-- <li>
                  <a href='/dj/genres'>Session.Dj.Manage Genres</a>
                </li> -->{% endif %}
                {% if session.dj.permissions.manage_permissions %}<li>
                  <a href='/dj/permissions'>Manage Permissions</a>
                </li>{% endif %}
                {% if session.dj.permissions.manage_blog %}<li>
                  <a href='/dj/newpost'>New Blog Post</a>
                </li>{% endif %}
                <li class="divider"></li>
                {% endif %}
                <li><a href='/dj/chartsong'>Chart Song</a></li>
                <li><a href='/dj/charts'>View Charts</a></li>
                <li><a href='/dj/logs'>View Logs</a></li>
                <li><a href='/dj/myshow'>Edit Show Information</a></li>
                <li><a href='/dj/myself'>Edit DJ Information</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href='/dj/login'>DJ Login</a>{% endif %}</li>
        </ul>
      </div></div></div></div></div><div class="row"><div class="span8 offset2">
        <div id='nowplaying'>
            <strong>&#9835; NOW PLAYING &#9835;</strong>
            <br>
            <span id='currentsong'>gathering info...</span>
            <br>
            on <a href='show/hitgitsplit' id='currentshow'>wait for it...</a>
            <div id='showdeschidden'  style="position:absolute; z-index:10">
                <hr>
                <p id='currentshowdesc'>
                 Loading show description
                </p>
            </div>
    </div></div></div>

    <div class="row">
    {% block main_content %}
      {% for msg in flash %}
    <div class='span12' id='msgbox'><div class='alert fade in'>
      <a class="close" data-dismiss="alert" href="#">×</a>
        {{ msg.0|safe }}
    </div></div>
      {% endfor %}
    </div>
    <div class="row">
    {% block top_row %}{% endblock %}
    </div>
    <div class="row">
    <div class='span8 left'><!-- Left-hand column on front page -->
        {% block left_column %}

        {% endblock %}
    </div><!-- End left-hand column -->
    
    <!-- Right-hand column on front page -->
    <div class='span4 right'>
        {% block right_column %}

        {% endblock %}
    </div><!-- End right-hand column -->
    {% endblock %}
    </div>
    <footer>
        {% block footer %}<!-- footer, obviously -->
        &copy; 2010-2011, WBOR Brunswick, 91.1 FM
        {% endblock %}
    </footer><!-- end footer -->
</div><!-- End wrap -->
</div><!-- End outer wrap -->
<script type="text/javascript"
        src="/static/js/bootstrap-alert.js"></script>
<script type="text/javascript"
        src="/static/js/bootstrap-tab.js"></script>
<script type="text/javascript"
        src="/static/js/bootstrap-button.js"></script>
<script type="text/javascript"
        src="/static/js/bootstrap-dropdown.js"></script>
</body>
</html>
