<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>{% block title %}WBOR{% endblock %}</title>

<link rel="icon" type="image/png" href="/static/images/favicon.png">
<link rel="stylesheet" href="/static/css/text.css" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />

<link rel="stylesheet" href="/static/css/page.css" />
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css" media="screen" />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js'></script>
<script type='text/javascript' src='/static/js/jquery-ui.js'></script>
<script type='text/javascript' src='/static/js/jquery.autocomplete.js'></script>
<script type='text/javascript' src='/static/js/jquery.lightbox.js'></script>
<script type='text/javascript' src='/static/js/jquery.tinymce.js'></script>
<script type='text/javascript' src='/static/js/jquery.form.js'></script>
<script type='text/javascript'>
    background = function() {
        document.body.style.background = 'url(/static/images/bg/' + (Math.round(Math.random() * 21) + 1) + '.gif)';
    }
        
    $(document).ready(function() {
        if ($('textarea.tinymce').length > 0) {
          $('textarea.tinymce').tinymce({
            script_url: '/static/js/tiny_mce.js',
            theme: "advanced",
          });
        }
        $(".chart-toggler").click(function() {
          $(".chart-toggler").removeClass("chart-selected");
          $(this).addClass("chart-selected");
          if ($.trim($(this).html()) == "Songs") {
            $("#albumtable").hide();
            $("#songtable").show();
          } else {
            $("#songtable").hide();            
            $("#albumtable").show();
          }
        });
        $("#nowplaying").mouseenter(function() {
            $("#showdeschidden").slideDown("medium");
        });
        $("#nowplaying").mouseleave(function() {
            $("#showdeschidden").slideUp("medium");
        });
        
        $(".datepicker").datepicker();
        
        nowPlaying();
        if ($("#delete-button")) {
            $("#delete-button").click(function() {
                return confirm("Are you sure you want to do this?");
            });
        }
        if ($(".artist-autocomplete").length > 0) {
            $(".artist-autocomplete").autocomplete({
                serviceUrl: '/ajax/artistcomplete',
                minChars: 1,
                width: $(".artist-autocomplete").width(),
                maxHeight: 400,
                onSelect: function(value, data) {
                    
                },
            });
        }
        if ($(".dj-autocomplete").length > 0) {
          $(".dj-autocomplete").each(function(index) {
            var p_key = $(this).attr("key");
            $(this).autocomplete({
              serviceUrl: '/ajax/djcomplete',
              minChars: 1,
              width: $(".dj-autocomplete").width(),
              maxHeight: 400,
              onSelect: function(value, data) {
                $.post("/dj/permissions",
                {
                  'dj_key': data,
                  'permission_key': p_key,
                  'action': "add",
                },
                function(data) {
                  if (data.err) {
                    alert(data.err);
                  } else {
                    var li = document.createElement("li");
                    li.innerHTML = value;
                    $("#" + p_key).append(li);
                    $("#msgbox").html(data.msg);
                  }
                }, "json");
              },
            });
          });
        }
        if ($("#albumlist li a").length > 0) {
            $("#albumlist li a").lightBox({
                imageLoading: '/static/images/lightbox-ico-loading.gif',
            	imageBtnClose: '/static/images/lightbox-btn-close.gif',
            	imageBtnPrev: '/static/images/lightbox-btn-prev.gif',
            	imageBtnNext: '/static/images/lightbox-btn-next.gif',
            	imageBlank: '/static/images/lightbox-blank.gif',
            });
        }
    });
    
    function nowPlaying() {
        // request currently-playing information; update page accordingly.
        // requests both now-playing box and recently-played box, if you're on the main page.
        $.get('/updateinfo', function(data) {
            $("#currentsong").html(data.song_string);
            $("#currentshow").html(data.program_title);
            $("#currentshow").attr('href', '/programs/' + data.program_slug);
            $("#currentshowdesc").html(data.program_desc + "<hr />" + data.top_played);
            if ($("#latestplays")) {
                $("#latestplays").html(data.recent_songs_html);
            }
        }, "json");
        nowPlayingTimer = setTimeout("nowPlaying()", 30000);
    }
</script>
{% block extra_scripts %}{% endblock %}
</head>
<body onLoad="background();">
<div id='outer-wrap'>
<div class='container' id='wrap' style="padding:10px;"><div id='header' style="margin:-10px; padding:10px;">
    <div class="row">
        <div class='span6' id='logo'><!-- Start header -->
            <a title='May 9, 7:00 pm' href='/'><img src='/static/images/transparentlogo.png'></a>
        </div>
    
        <div class='span3' id='voicewidget'>
          <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=149751eac6a0d999583c849fb23a20e411e05cf7&style=0" /></object>
        </div>
    
        <div class='span3'>
            <div id='download-m3u'>
                <a href='/static/wbor.m3u'>
                <strong>Listen now</strong>
                <br>
                Live internet stream
                </a>
            </div>
        </div><!-- End header -->
    </div></div>

    <!-- This is for the "floating" navbar -->

    <div class='navbar' style="margin-left:-20px; margin-right:-20px; margin-bottom:60px;">
	 <div class='navbar-inner'><div class='container row'><div class="span12">
          <ul class="nav">
            <li {% if news_selected %}class='active'{% endif %}><a href='/'>News</a></li>
            <li {% if events_selected %}class='active'{% endif %}><a href='/events'>Events</a></li>
            <li {% if schedule_selected %}class='active'{% endif %}><a href='/schedule'>Schedule</a></li>
            <li {% if playlists_selected %}class='active'{% endif %}><a href='/playlists'>Playlists</a></li>
            <li {% if charts_selected %}class='active'{% endif %}><a href='/charts'>Charts</a></li>
	    <li {% if fun_selected %}class='active'{% endif %}><a href='/fun'>Fun</a></li>
            <li {% if history_selected %}class='active'{% endif %}><a href='/history'>History</a></li>
            <li {% if contact_selected %}class='active'{% endif %}><a href='/contact'>Contact</a></li>
            <li><a href='/dj/login'>DJ Login</a></li>
        </ul>
      </div></div></div></div><div class="row"  style="margin-top:-60px;position:absolute; z-index:4"><div class="span8 offset2">
        <div id='nowplaying'>
            <strong>&#9835; NOW PLAYING &#9835;</strong>
            <br>
            <span id='currentsong'>gathering info...</span>
            <br>
            on <a href='show/hitgitsplit' id='currentshow'>wait for it...</a>
            <div id='showdeschidden'>
                <hr>
                <p id='currentshowdesc'>
                  <!-- The Hit Git &amp; Split is celebrating Tom Wait's 60th birthday for this college season. The theme is "Just Another Dime Store Novel". From "Pasties and a G-string", an adventure in tassel twirling, along with "Hang on St. Christopher", we'll take you "Straight to the Top" of "Frank's Wild Years". "Jesus Gonna Be Here", along with "Chocolate Jesus", because "God's Away on Business". The AWB will prevail as your "Late Night Evening Prostitute". A good gardener knows when to put his hose down and roll it up. "Well, that ain't half of it, man, you know - boy have I got a show for you!" --> loading show description
                  </p>
            </div>
    </div></div></div>

    <div class="row">
    {% block main_content %}
    <div class='span12 flash-msg' id='msgbox'>
      {% for msg in flash %}
        {{ msg.0|safe }}
      {% endfor %}
    </div></div>
    <div class="row">
    {% block top_row %}{% endblock %}
    </div>
    <div class="row">
    <div class='span7 left'><!-- Left-hand column on front page -->
        {% block left_column %}

        {% endblock %}
    </div><!-- End left-hand column -->
    
    <!-- Right-hand column on front page -->
    <div class='span5 right'>
        {% block right_column %}

        {% endblock %}
    </div><!-- End right-hand column -->
    {% endblock %}
    </div>
    <footer>
        {% block footer %}<!-- footer, obviously -->
        &copy; 2010-2011, WBOR Brunswick, 91.1 FM
        {% endblock %}
    </footer><!-- end footer -->
</div><!-- End wrap -->
</div><!-- End outer wrap -->
</body>
</html>
