{% extends "base.html" %}

{% block title %}Weekly Charts{% endblock %}

{% block main_content %}
<div class="row">
  <div class="span12">
    <h1>Charts</h1>
    <hr>
  </div>
</div>
<div class="row">
<div class='span9 chart-col'>

<div id='topsongs'>
    <h2>Top {{ songs|length }} Songs</h2>
    {% if songs %}
    <table class='big-chart-songs table'>
      <thead>
        <tr>
	  <th scope='col'>#</th>
          {% if login %}<th scope='col'>Count</th>
          {% endif %}<th scope='col'>Song Title</th>
          <th scope='col'>Artist</th>
          <th scope='col'>Album</th>
        </tr>
      </thead>
      <tbody>{% for s in songs %}
        <tr>
	  <td>{{ forloop.counter }}</td>
          {% if login %}<td>{{ s.1 }}</td>{% endif %}
          <td>{{ s.0.title }}</td>
          <td>{{ s.0.artist }}</td>
          <td>{{ s.0.album.title}}</td>
        </tr>
      {% endfor %}</tbody>
    </table>
    {% else %}
    <div class="alert alert-info">
      No plays were found.  Is this date in the future or in the
      distant past?
    </div>
    {% endif %}
</div>

<div id='topalbums'>
  <h2>Top {{ albums|length }} Albums</h2>
  {% if albums %}
  <table class='big-chart-albums table'>
    <thead>
      <tr>
	<th scope='col'>#</th>
        {% if login %}<th scope='col'>Count</th>
        {% endif %}<th scope='col'>Album</th>
        <th scope='col'>Artist</th>
      </tr>
    </thead>
    <tbody>
      {% for a in albums %}
      <tr>
        <td>{{ forloop.counter }}</td>
        {% if login %}<td>{{ a.1 }}</td>{% endif %}
        <td>{{ a.0.title }}</td>
        <td>{{ a.0.artist }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-info">
    No plays were found. Is this date in
    the future or in the distant past?
    </div>
  {% endif %}
</div>

</div>
<div class='span3 chart-opts-col'>

<div>
  <h2>Search Range</h2>
  <h4>{{ start|date }} through {{ end|date }}</h4>
  
  <p>Select a different week below.</p>
  <form method='post' action='/charts/'>
    <label>Start date: 
      <input type='text' class='datepicker' name='start_date' id='start_date'></label>
    <br />
    <label>End date: 
      <input type='text' class='datepicker' name='end_date' id='end_date'></label>
    <br />
    <input type='submit' name='submit' value="Submit">
  </form>
</div>

</div>
</div>
{% endblock %}
