{% extends "base.html" %}

{% block title %}Contact WBOR{% endblock %}

{% block main_content %}

<div class='center contact'>
  <h4>Contact WBOR</h4>
  
  <h5>Request Line: (207) 725-3250</h5>
  <p>WBOR loves to hear from you, whether you are a listener, a performer, or a label representative. We strongly encourage you to contact us (or the applicable manager) with any questions or comments you may have. If you are a musician or a label representative and you would like to send in music<a href='#note'>*</a>, please address it to the applicable music director of your genre.</p>
  
  <strong>WBOR</strong>
  <br />Music Directors
  <br />Smith Union
  <br />Bowdoin College
  <br />Brunswick, ME 04011
  
  <p><strong>General:</strong> <a href="mailto:wbor@bowdoin.edu">wbor@bowdoin.edu</a></p>

  {{ contact_html }}

  <p><strong>Station Managers:</strong> <a href="mailto:jeddy@bowdoin.edu">Jill Eddy</a></br>

  <p><strong>Program Director:</strong> <a href="mailto:wpugh@bowdoin.edu">Will Pugh</a>, <a href="mailto:rlopkin@bowdoin.edu">Rachel Lopkin</a></p>
  <p><strong>Music Directors:</strong> <a href="mailto:zlescaze@bowdoin.edu">Zoe Lescaze</a>, <a href="mailto:crutan@bowdoin.edu">Christine Rutan</a>, <a href="mailto:tpatton@bowdoin.edu">Tyler Patton</a>, <a href="mailto:rcourtau@bowdoin.edu">Rachel Courtault</a></p>
  <p><strong>Jazz Director</strong>: <a href="mailto:adelcalv@bowdoin.edu">Andy Del Calvo</a></p>
  <p><strong>Hip-Hop Director</strong>: <a href="mailto:zwinters@bowdoin.edu">Zach Winters</a></p>
  <p><strong>Electronic/RPM Director</strong>: <a href="mailto:walbuque@bowdoin.edu">Will Albuquerque</a></p>
  <p><strong>World Director</strong>: <a href="mailto:sahmed@bowdoin.edu">Shazeda Ahmed</a></p>
  <p><strong>Metal Director</strong>: <a href='mailto:starlog76@excite.com'>Amy Boucher</a></p>
  <p><strong>Folk Director</strong>: <a href="mailto:jgildesg@bowdoin.edu">Jesse Gildesgame</a></p>

  <p><strong>Publicity Directors:</strong> <a href="mailto:efricke@bowdoin.edu">Evan Fricke</a> (406 270-4726), <a href="mailto:lkillion@bowdoin.edu">Liam Killion</a></p>

  <p><strong>Concert Booking:</strong> <a href="mailto:walbuque@bowdoin.edu">Will Albuquerque</a></p>
  <p><strong>Website/Tech Manager:</strong> <a href="mailto:cmsmith@bowdoin.edu">Connor Smith</a></p>

  <p><strong>Summer/Break Manager:</strong> <a href="mailto:lmorse@gwi.net">Bill Morse</a> (207 442-3193)</p>


  <p>*<small><a name='note'></a>Note: We do not accept digitized music.</small></p>
  <p>**<small><a name='abroad'></a>This person is abroad this semester.</small></p>
  
</div>

{% endblock %}
