{% extends "base.html" %}

{% block title %}Contact WBOR{% endblock %}

{% block main_content %}

<div class='center contact'>
  <h4>Contact WBOR</h4>
  
  <h5>Request Line: (207) 725-3250</h5>
  <p>WBOR loves to hear from you, whether you are a listener, a performer, or a label representative. We strongly encourage you to contact us (or the applicable manager) with any questions or comments you may have. If you are a musician or a label representative and you would like to send in music<a href='#note'>*</a>, please address it to the applicable music director of your genre.</p>
  
  <strong>WBOR</strong>
  <br />Music Directors
  <br />Smith Union
  <br />Bowdoin College
  <br />Brunswick, ME 04011
  
  <p><strong>General:</strong> <a href="mailto:wbor@bowdoin.edu">wbor@bowdoin.edu</a></p>
  <p><strong>Station Managers:</strong> <a href="mailto:asudano@bowdoin.edu">Andrew Sudano</a>, <a href="mailto:carolyn.williams@bowdoin.edu">Carolyn Williams</a></br>

  <p><strong>Program Director:</strong> <a href='mailto:jeddy@bowdoin.edu'>Jill Eddy</a></p>
  <p><strong>Music Directors:</strong> <a href="mailto:swood@bowdoin.edu">Sarah Wood</a>, <a href="mailto:sweather@bowdoin.edu">Sean Weathersby</a><br>
  Office Hours: Friday 12:00 pm - 2:00 pm</p>
  <p><strong>Jazz Director</strong>: <a href="mailto:peter.mclaughlin@bowdoin.edu">Peter McLaughlin</a></p>
  <p><strong>Hip-Hop Director</strong>: <a href="mailto:helsadig@bowdoin.edu">Hasan Elsadig</a></p>

  <p><strong>Metal Director</strong>: <a href='mailto:starlog76@excite.com'>Amy Boucher</a></p>
  <p><strong>Blues/Folk Director</strong>: <a href="mailto:halmo@suscom-maine.net">Mike Halmo</a></p>
  <p><strong>Assistant Music Directors</strong>: <a href="mailto:zlescaze@bowdoin.edu">Zoe Lescaze</a>, <a href='mailto:crutan@bowdoin.edu'>Christine Rutan</a></p>
  <p><strong>Publicity Directors:</strong> <a href="mailto:efricke@bowdoin.edu">Evan Fricke</a> (406 270-4726), <a href="mailto:jkim@bowdoin.edu">Jin-Kyung Kim</a> (650 269-9559)</p>

  <p><strong>Concert Booking:</strong> <a href="mailto:tkietzma@bowdoin.edu">Ted Kietzman</a> (989 430-0545)</p>
  <p><strong>Website/Tech Manager:</strong> <a href="mailto:hchapman@bowdoin.edu">Harrison Chapman</a> (207 607-9945)</p>
  <p><strong>Zine Managers:</strong> <a href="mailto:aphanitd@bowdoin.edu">Alyssa Phanitdasack</a>, <a href="mailto:dlorberb@bowdoin.edu">Danny Lorberbaum</a>, <a href="mailto:kgoodwin@bowdoin.edu">Kristina Goodwin</a></p>

  <p><strong>Summer/Break Manager:</strong> <a href="mailto:lmorse@gwi.net">Bill Morse</a> (207 442-3193)</p>


  <p>*<small><a name='note'></a>Note: We do not accept digitized music.</small></p>
  <p>**<small><a name='abroad'></a>This person is abroad this semester.</small></p>
  
</div>

{% endblock %}
