{% extends "base.html" %}

{% block extra_scripts %}
<script type='text/javascript'>
$(function() {
    $("div.btn-group[data-toggle-name=isNew]").each(function() {
        var group = $(this);
        var form = group.parents("form").eq(0);
        var name = group.attr("data-toggle-name");
        var hidden = $('input[name="' + name + '"]', form);
        $("button", group).each(function() {
            var button = $(this);
            button.live("click", function() {
                hidden.val($(this).val());
                if(button.val() == "no") {
                    $("#new-song-div").slideUp("fast");
                    $("#old-song-div").slideDown("fast");
                }
                if(button.val() == "yes") {
                    $("#new-song-div").slideDown("fast");
                    $("#old-song-div").slideUp("fast");
                }
            });
            if(button.val() == hidden.val()) {
                button.addClass('active');
            }
        });
    });
    $("#is-new").change(function() {

    });
    $("#played_list li a").click(function() {
      var play_key = $(this).parent().attr("id");
      $.post(
        '/dj/removeplay/',
        {
          'play_key': play_key,
        },
        function(data) {
          if (data.err) {
            alert(data.err);
            return;
          }
          $("#" + play_key).hide();
        }
      );
      return false;
    });
    $("#album_key").change(function() {
        $.get(
            '/ajax/getSongList/',
            {
                'album_key': $(this).val(),
            },
            function(data) {
                if (data.err) {
                    alert(data.err);
                    return;
                }
                $("#song_key_list").html(data.songListHtml);
            });
    });
});
</script>
{% endblock %}

{% block left_column %}
    <div>
        <b>If you are unable to chart, please <a href='mailto:cmsmith@bowdoin.edu'>email me</a> ASAP with your full name, the name of your program, and the names of your co-DJs, if any.</b>
    </div>
    <div>
        <h2>Chart Song</h2>
        <form action='/dj/chartsong/' method='post'>
          <label>My song is...
          </label>
            <div class="btn-group" data-toggle-name="isNew" data-toggle="buttons-radio">
              <button type="button" class="btn" value="no">An older song</button>
              <button type="button" class="btn" value="yes">Off the new shelf</button>
            </div>
              <input id="is-new" type="hidden" name='isNew' value="no">
            <div id='old-song-div'><label>Track Name:
                <input type='text' name='trackname' id='trackname'
                       tabindex='1'>
              </label>
            <label>Artist
              <input type='text' class='artist-autocomplete'
                     name='artist' tabindex='2' id='artist'>
            </label>
            </div>
            <div id='new-song-div'>
              {% if new_song_div_html %}
              {{ new_song_div_html|safe }}
              {% else %}
                <label>Album</label>
                <br>
                <select name='album_key' id='album_key'>
                    {% for album in new_albums %}
                    <option value='{{ album.key }}'>{{ album.artist }} - {{ album.title }}</option>
                    {% endfor %}
                </select>
                <label>Song</label>
                <select name='song_key' id='song_key_list'>
                    {% for song in album_songs %}
                    <option value='{{ song.key }}'>{{ song.title }}</option>
                    {% endfor %}
                </select>
              {% endif %}
            </div>
            <input type='submit' name='submit' value='Chart Song'
                   class="btn btn-primary">
        </form>
    </div>
    <div id='current-playlist'>
        <h2>Last Played</h2>
        <ul id='played_list'>
            {{ playlist_html|safe }}
        </ul>
    </div>
{% endblock %}

{% block right_column %}

    <div>
        <a href='/dj/'>Return to main index</a>
    </div>
    <div id='psa-status'>
        {% if last_psa %} The last PSA (<i>{{ last_psa.desc }}</i>) was played at {{ last_psa.play_date|date:"h:i" }}, or {{ last_psa.play_date|timesince }} ago.
        {% else %} There have been no PSAs played. {% endif %}
        <br>
        <form action='/dj/chartsong/' method='post'>
            <input type='submit' name='submit' value='Station ID'>
        </form>
        {% if station_id %}
        <p>Station ID recorded.</p>
        {% endif %}
        <br>

        <form action='/dj/chartsong/' method='post'>
            <label>PSA Description: <input type='text' name='psa_desc' /></label> <input type='submit' name='submit' value='PSA'>
        </form>
    </div>

    {% include "last_n_posts.html" %}
{% endblock %}
