{% extends "base.html" %}

{% block title %}Weekly Charts{% endblock %}

{% block left_column %}

<div id='topsongs'>
    <h4>Top {{ songs|length }} Songs</h4>
    {% if songs %}
    <table class="table">
      <thead>
        <tr>
          <th>Count</th>
          <th>Song Title</th>
          <th>Artist</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        {% for s in songs %}
        <tr>
          {% for entry in s %}
          <td>{{ entry }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <center><b>No plays were found.  Is this date in the future or in the distant past?</b></center>
    {% endif %}
</div>

<div id='topalbums'>
  <h4>Top {{ albums|length }} Albums</h4>
  {% if albums %}
  <table class="table">
    <thead>
      <tr>
        <th>Count</th>
        <th>Album</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      {% for a in albums %}
      <tr>
        {% for entry in a %}
        <td>{{ entry }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <center><b>No plays were found. Is this date in the future or in the distant past?</b></center>
  {% endif %}
</div>
{% endblock %}

{% block right_column %}
<div>
    <a href='/dj/'>Return to main index</a>
</div>
<div>
  <h4>{{ start|date }} through {{ end|date }}</h4>
  
  <p>Select a different week below.</p>
  <form method='post' action='/dj/charts/'>
    <label>Start date: <input type='text' class='datepicker' name='start_date' id='start_date'></label>
    <br />
    <input type='submit' name='submit' value="Submit">
  </form>
</div>
{% endblock %}
