{% extends "base.html" %}

{% block top_row %}
    <div class='grid_12 top_row'>
          <div class='loginbox'>
	    <h4>DJ Login</h4>
            <form method='post' action='/dj/login/'>
                <table>
                    <tr>
                        <td><label for='username'>Username: </label></td>
                        <td><input type='text' name='username' id='username' /></td>
                    </tr>
                    <tr>
                        <td><label for='password'>Password: </label></td>
                        <td><input type='password' name='password' id='password' /></td>
                    </tr>
                </table>
                <input type='submit' name='submit' value="Log in">
            </form><br/>
	Having trouble logging in?<br/><a href="/dj/reset/">Request a password change.</a>
        </div>
    </div>
{% endblock %}
