{% extends "base.html" %}

{% block top_row %}
<div class="span12">
  <h1>DJ Login</h1>
  <hr>
</div>
{% endblock %}
{% block left_column %}

<form method='post' action='/dj/login/'>
  <label for='username'>Username: </label>
  <input type='text' name='username' id='username' /><br>

  <label for='password'>Password: </label>
  <input type='password' name='password' id='password' /><br>

  <div class="form-actions">
  <input type='submit' class="btn btn-primary" name='submit'
  value="Log in">
  </div>
</form><br/>
Having trouble logging in?<br/>
<a href="/dj/reset/">Request a password change.</a>
{% endblock %}
