{% extends "base.html" %}

{% block left_column %}
    <div class='grid_12'>
        <div class='grid_4 prefix_4'>
            <form method='post' action='/dj/login/'>
                <table>
                    <tr>
                        <td><label for='username'>Username: </label></td>
                        <td><input type='text' name='username' id='username' /></td>
                    </tr>
                    <tr>
                        <td><label for='password'>Password: </label></td>
                        <td><input type='password' name='password' id='password' /></td>
                    </tr>
                </table>
                <input type='submit' name='submit' value="Log in">
            </form>
        </div>
    </div>
{% endblock %}

{% block right_column %}
    {% include "last3posts.html" %}
{% endblock %}