<ul id='manage-albums-list'>
    {% for album in new_album_list %}
        <li class='newalbum' id='{{ album.key }}'>
            <div class='album-manager'>
            <label class="checkbox">
            <input type='checkbox' {% if album.isNew %}checked='checked'{% endif %} />
            {{ album.artist }} &mdash; 
            <i>{{ album.title }}</i> ({{ album.add_date|date:"F j, Y"}})
            <!-- <br>
            <img src='/albums/{{ album.key }}/s' />
            <br> -->
            </label>
            </div></li>
    {% endfor %}
</ul>
