{% extends "base.html" %}

{% block main_content %}
<div class="row">
  <div class="span12">
    <h1>Manage Programs</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="span7">
    <h2>{% if program %}Edit{% else %}Add{% endif %} Program</h2>
    <form action='/dj/programs/{% if program %}{{ program.key }}/{% endif %}' method='post'>
      <label for='title'>Title
        <input id='title' type='text' name='title' value='{{ program.title|escape }}'/>
      </label>
      <br>
      
      <label for='slug'>Slug
        <input id='slug' type='text' name='slug' value='{{ program.slug|escape }}' />
      </label>
      <br>

      <label for='current' class='checkbox'>
	<input id='current' type='checkbox' name='current' value='1' 
	       {% if program.current %}checked='checked'{% endif %}
	       /> This show is on the air this season
      </label>
      <br>

      <label>Show DJs
      </label>
      <div class="well form-search">
      <div class="input-append">
        <input class="span4" size="16" type="text" placeholder="Search DJs"
               ><button class="btn" type="button">Go!</button>
      </div>
      </div>
      
      <label for='desc'>Description
        <textarea class='tinymce' name='desc' id='desc'>
          {{ program.desc|escape }}
        </textarea>
      </label>
      <br>
      
      <label for='page_html'>Page HTML
        <textarea class='tinymce' name='page_html'
                  id='page_html'>
          {{ program.page_html|escape }}
        </textarea>
      </label>
      <br>
      <input type='submit' name='submit' value="{% if program %}Edit{% else %}Add{% endif %} Program">
      {% if program %}
      <input id='delete-button' type='submit' name='submit' value='Delete Program' />
      {% endif %}
  {% if all_dj_list %}
  <div id='current-djs'>
    <h4>Select DJs in program</h4>
    <ul>
      {% for pair in all_dj_list %}
      <li><label>
          {% if pair.in_program %}
          <input type='checkbox' name='dj_list' value='{{ pair.dj.key }}' checked='checked' />
          {% else %}
          <input type='checkbox' name='dj_list' value='{{ pair.dj.key }}' />
          {% endif %}
          {{ pair.dj.fullname }} ({{ pair.dj.email }})</label>
        {% endfor %}
    </ul>
  </div>
  {% endif %}
  </form>
</div>

<div class="span5">
  <h2>Find a Program</h2>
  {% if current_programs %}
  <ul>
    {% for p in current_programs %}
    <li><a href='/dj/programs/{{ p.prog.key }}'>{{ p.prog.title }}</a>
      {% if p.dj_list %}<ul style="margin-bottom:0;">
	{% for dj in p.dj_list %}<li>{{ dj.fullname }} ({{ dj.email }}){% endfor %}
      </ul>{% endif %}
      {% endfor %}
  </ul>
  {% endif %}{% if legacy_programs %}
  <h2>Old Programs</h2>
  <ul>
    {% for p in legacy_programs %}
    <li><a href='/dj/programs/{{ p.prog.key }}'>{{ p.prog.title }}</a>
      {% if p.dj_list %}<ul style="margin-bottom:0;">
	{% for dj in p.dj_list %}<li>{{ dj.fullname }} ({{ dj.email }}){% endfor %}
      </ul>{% endif %}
      {% endfor %}
  </ul>
  {% endif %}
</div>
</div>
{% endblock %}
