{% extends "base.html" %}

{% block extra_scripts %}
    <script type='text/javascript'>
    function slugify(text) {
        text = text.toLowerCase();
        text = text.replace(/[^-a-zA-Z0-9,&\s]+/ig, '');
        text = text.replace(/-/gi, "_");
        text = text.replace(/\s/gi, "-");
        return text;
    }

    $(function() {
        $("a.delete").click(function(e) {
          var dj_key = $(this).parent().attr("id");
          dj_key = dj_key.split("_")[1];
          var permission_key = $(this).parent().parent().attr("id");
          $.post("/dj/permissions",
          {
            'dj_key': dj_key,
            'permission_key': permission_key,
            'action': 'remove',
          },
          function(data) {
            if (data.err) {
              alert(data.err);
            } else {
              $("#" + permission_key + "_" + dj_key).remove();
            }
          }, "json");
          return false;
        });
        var djbutton = $("<tr></tr>");
        djbutton.append($("<td><a>&times;</a></td>"))
        djbutton.append($("<td id=\"djname\"></td>"));
        djbutton.append($("<td>Email</td>"));
        djbutton.append($("<input type=\"hidden\" id=\"djkey\""+
                          " name=\"djkey\" value=\"\"/>"))

        $("#slug").focusout(function() {
            $("#slug").each(function(index) {
                $("#slugified-slug").text(slugify($(this).val()));
            });
        });
        if ($(".dj-autocomplete-program").length > 0) {
        $(".dj-autocomplete-program").each(function(index) {
            $(this).autocomplete({
                serviceUrl: '/ajax/djcomplete',
                minChars: 1,
                width: $(".dj-autocomplete-program").width(),
                maxHeight: 400,
                onSelect: function(value, data) {
                    var newbutton = djbutton.clone();
                    newbutton.find("#djname").text(value);
                    newbutton.find("#djkey").val(data);
                    $("#show-dj-list").find("tbody").append(newbutton);
                },
            });
        });
    }
    });

</script>
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="span12">
    <h1>Manage Programs</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="span7">
    <h2>{% if program %}Edit{% else %}Add{% endif %} Program</h2>
    <form action='/dj/programs/{% if program %}{{ program.key }}/{% endif %}' method='post'>
    <h3>Program information</h3>
      <label for='title'>Title
      </label>
        <input id='title' type='text' name='title' value='{{ program.title|escape }}'/>

      <label for='slug'>Slug
      </label>
        <div class="control-group">
        <input id='slug' type='text' name='slug'
               value='{{ program.slug|escape }}' />
        <span class="help-inline" id="slugified-slug">Hey!</span></div>

      <label for='current' class='checkbox'>
        <input id='current' type='checkbox' name='current' value='1'
               {% if program.current %}checked='checked'{% endif %}
               /> This show is on the air this season
      </label>

      <label for='desc'>Description
      </label>
        <textarea class='tinymce' name='desc' id='desc'>
          {{ program.desc|escape }}
        </textarea>
      <br>

      <label for='page_html'>Page HTML
      </label>
        <textarea class='tinymce' name='page_html'
                  id='page_html'>
          {{ program.page_html|escape }}
        </textarea>
      <br>

      <h3>Program DJs</h3>
      <label>DJs presently in program
      </label>
        <table id="show-dj-list" class="table table-bordered table=striped">
          <thead><tr><th>Remove?</th><th>Name</th><th>Email</th></tr></thead>
          <tbody></tbody>
        </table>

      <label for="djsearch">Add a DJ
      </label>
        <input class="dj-autocomplete-program span6" type="text"
               name="djautosearch" id="djsearch" autocomplete="on"
               placeholder="Start typing to search DJs">

        <div class="form-actions">
      <input type='submit' class="btn btn-primary" name='submit' value="{% if program %}Edit{% else %}Add{% endif %} Program">
      {% if program %}
      <input id='delete-button' type='submit' name='submit'
             value='Delete Program' />

      {% endif %}
        </div>
      {% if all_dj_list %}
      <div id='current-djs'>
        <h4>Select DJs in program</h4>
        <ul>
          {% for pair in all_dj_list %}
          <li><label>
              {% if pair.in_program %}
              <input type='checkbox' name='dj_list' value='{{ pair.dj.key }}' checked='checked' />
              {% else %}
              <input type='checkbox' name='dj_list' value='{{ pair.dj.key }}' />
              {% endif %}
              {{ pair.dj.fullname }} ({{ pair.dj.email }})</label>
            {% endfor %}
        </ul>
      </div>
      {% endif %}
    </form>
  </div>

  <div class="span5">
    <h2>Find a Program</h2>
    <h3>Most recently added</h3>
    <h3>Search programs</h3>
    {% if current_programs %}
    <ul>
      {% for p in current_programs %}
      <li><a href='/dj/programs/{{ p.prog.key }}'>{{ p.prog.title }}</a>
        {% if p.dj_list %}<ul style="margin-bottom:0;">
          {% for dj in p.dj_list %}<li>{{ dj.fullname }} ({{ dj.email }}){% endfor %}
        </ul>{% endif %}
        {% endfor %}
    </ul>
    {% endif %}{% if legacy_programs %}
    <h2>Old Programs</h2>
    <ul>
      {% for p in legacy_programs %}
      <li><a href='/dj/programs/{{ p.prog.key }}'>{{ p.prog.title }}</a>
        {% if p.dj_list %}<ul style="margin-bottom:0;">
          {% for dj in p.dj_list %}<li>{{ dj.fullname }} ({{ dj.email }}){% endfor %}
        </ul>{% endif %}
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
