{% extends "base.html" %}

{% block left_column %}
    <div id='dj-actions'>
        Currently signed in as {{ session.dj.fullname }}.  Not you? <a href='/dj/logout'>Log Out</a>
        {% if session.program %}
            <br>
            You're signed in under the radio program {{ session.program.title }}.  You can <a href='/dj/selectprogram/'>change programs here</a>.
        {% endif %}
        <ul>
            {% if manage_djs %}<li><a href='/dj/djs'>Manage DJs</a></li>{% endif %}
            {% if manage_programs %}<li><a href='/dj/programs'>Manage Programs</a></li>{% endif %}
            {% if manage_albums %}<li><a href='/dj/albums'>Manage Albums</a></li>{% endif %}
            {% if manage_events %}<li><a href='/dj/newevent'>New Event</a></li>{% endif %}
            {% if manage_genres %}<!-- <li><a href='/dj/genres'>Manage Genres</a></li> -->{% endif %}
            {% if manage_permissions %}<li><a href='/dj/permissions'>Manage Permissions</a></li>{% endif %}
            {% if manage_blog %}<li><a href='/dj/newpost'>New Blog Post</a></li>{% endif %}
            <li><a href='/dj/chartsong'>Chart Song</a></li>
            <li><a href='/dj/charts'>View Charts</a></li>
            <li><a href='/dj/logs'>View Logs</a></li>
            <li><a href='/dj/myshow'>Edit Show Information</a></li>
        </ul>
    </div>
{% endblock %}

{% block right_column %}
    {% include "last3posts.html" %}
{% endblock %}