{% extends "base.html" %}

{% block top_row %}
<div class="span12">
  <h1>DJ Dashboard</h1>
  <hr>
</div>
{% endblock %}

{% block left_column %}
<h2>Hello, {{ session.dj.fullname }}</h2>
{% if session.program %}
<h3> You're charting for 
  <a href="/programs/{{ session.program.slug }}">{{ session.program.title }}</a>
</h3> 
You can <a href='/dj/selectprogram/'>change programs here</a>.
{% else %}
<h3>You Are Not Signed In to a Show Yet.</h3>
<p>You will not be able to chart until you do. This is totally okay
  though!  There are two steps you may take from here:</p>
<ol>
  <li>You're signed up for a show, and another DJ you're with has
  already created the show on the website: Ask them to edit the
  program, and add you!</li>
  <li>You're signed up for a show, and you're the first one to sign up
  for WBOR.org, or the only DJ on the show: You
  can <a href='/dj/myshow'>create your first new show here!</a></li>
</ol>
{% endif %}
{% endblock %}

{% block right_column %}
<div class="well dj-nav-div" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li><a href='/dj/chartsong'>Chart Song</a></li>
            <li><a href="/dj/selectprogram/">Change Program</a></li>
            <li><a href="/dj/logout">Log Out</a></li>
            <li class="nav-header">Edit</li>
            <li><a href='/dj/myshow'>{% if session.program %}Edit Show
            Information{% else %}Create New Show{% endif %}</a></li>
            <li><a href='/dj/myself'>Edit DJ Information</a></li>

            <li class="nav-header">Administration</li>
            <li><a href='/dj/logs'>View Logs</a></li>
            {% if manage_djs %}<li><a href='/dj/djs'>Manage DJs</a></li>{% endif %}
            {% if manage_programs %}<li><a href='/dj/programs'>Manage Programs</a></li>{% endif %}
            {% if manage_albums %}<li><a href='/dj/albums'>Manage Albums</a></li>{% endif %}
            {% if manage_events %}<li><a href='/dj/event'>New Event</a></li>{% endif %}
            {% if manage_genres %}<!-- <li><a href='/dj/genres'>Manage Genres</a></li> -->{% endif %}
            {% if manage_permissions %}<li><a href='/dj/permissions'>Manage Permissions</a></li>{% endif %}
            {% if manage_blogs %}<li><a href='/dj/newpost'>New Blog Post</a></li>{% endif %}
        </ul>
</div>
{% endblock %}
