{% extends "base.html" %}

{% block extra_scripts %}
<script type='text/javascript'>
    $(function() {
        $("a.delete").click(function(e) {
          var dj_key = $(this).parent().attr("id");
          var permission_key = $(this).parent().parent().attr("id");
          $.post("/dj/permissions",
          {
            'dj_key': dj_key,
            'permission_key': permission_key,
            'action': 'remove',
          },
          function(data) {
            if (data.err) {
              alert(data.err);
            } else {
              $("#" + dj_key).remove();
            }
          }, "json");
        });
    });
    
</script>
{% endblock %}

{% block left_column %}
  {% for p in permissions %}
    <div class='permission'>
        <h4>{{ p.title }}</h4>
          <ul id='{{ p.key }}'>
            {% for dj in p.dj_list %}
            <li id='{{ dj.key }}'>{{ dj.fullname }} <a class='delete' href='#'>[x]</a></li>
            {% endfor %}
          </ul>
          <label>Add DJ: <input key='{{ p.key }}' type='text' class='add_perm dj-autocomplete' /></label>
    </div>
  {% endfor %}
{% endblock %}


{% block right_column %}
    <div>
        <a href='/dj/'>Return to main index</a>
    </div>
    {% include "last3posts.html" %}

{% endblock %}