{% extends "base.html" %}

{% block extra_scripts %}
<script type='text/javascript'>
    $(function() {
        $("a.delete").click(function(e) {
          var dj_key = $(this).parent().attr("id");
          dj_key = dj_key.split("_")[1];
          var permission_key = $(this).parent().parent().attr("id");
          $.post("/dj/permissions",
          {
            'dj_key': dj_key,
            'permission_key': permission_key,
            'action': 'remove',
          },
          function(data) {
            if (data.err) {
              alert(data.err);
            } else {
              $("#" + permission_key + "_" + dj_key).remove();
            }
          }, "json");
          return false;
        });
    });
    
</script>
{% endblock %}

{% block top_row %}
  <div class="span12">
    <h1>Manage Permissions</h1>
    <hr>
  </div>
{% endblock %}

{% block left_column %}

    {% for p in permissions %}
    <div class='permission'>
      <h3>{{ p.title }}</h3>
      <ul id='{{ p.key.urlsafe }}'>
        {% for dj in p.dj_list %}
        <li id='{{ p.key.urlsafe }}_{{ dj.key.urlsafe }}'>{{ dj.fullname }} <a class='delete' href='#'>[x]</a></li>
        {% endfor %}
      </ul>
      <label>Add DJ: <input key='{{ p.key.urlsafe }}' type='text'
                            class='add_perm dj-autocomplete span5' /></label>
    </div>
    {% endfor %}

{% endblock %}
