{% extends "base.html" %}

{% block right_column %}
    {% include "last_n_posts.html" %}
{% endblock %}

{% block left_column %}
    <div id='select-program'>
        <h4>Select Program</h4>
        {% for p in program_list %}
        <form action='/dj/selectprogram/' method='post'>
            <input type='hidden' name='programkey' value='{{ p.key.urlsafe }}' />
            <input type='submit' name='submit' value='{{ p.title|escape }}' />
        </form>
        {% endfor %}
    </div>
{% endblock %}
