{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week: 11-13-2013:</h1>
<h2>Emily Hochman and Kelsey Berger</h2>
<h2>Kid Sister Radio</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style=background-image:url('/static/images/djs/2013-11-13.jpg');width:100%;height:300px;background-size:cover;></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
We are Emily Hochman and Kelsey Berger. We’re juniors and we host Kid Sister Radio every single week. I’m new to the industry, but I’ve been a fan of DJ EMiHooch since the beginning of her career in sophomore year. We compile music independently before the show, and we play our songs popcorn style. 
<br><br>
<i><b>Song that makes you cry?</b></i><br>
“Rainbow Connection” by Kermit the Frog.
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
Jeff Mangum at the State Theater – I’m taking Emily’s word for it, I missed this concert and was too lazy to get my refund.  
<br><br>
<i><b>Best song to study to?</b></i><br>
Emily studies to Kid Koala because it rocks and there are no confusing words to interfere with her reading.
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
I’d bring three Radiohead albums, because then Emily would kill herself and I’d get more rations #winning <br/>
I also just really like Radiohead.
<br><br>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
Emily wants to meet Edith Piaf, and I want to meet Gene Kelley (triple threat!).<br><br>
<i><b>Most played song on your iTunes?</b></i><br>
“Food Is Still Hot” – Karen O & the Kids.
<br><br>
<i><b>Favorite era of music?</b></i><br>
Emily votes for the 60s – mainly for the girl groups. I vote for the musicians of the 90s, because they were down with denim on top and so am I. 
<br><br>
<i><b>Favorite place on campus?</b></i><br>
That bench between Belmont St and Thorne (me), or the walkway between Druck and Hatch (Emily). We’re very into transitional spaces.
<br><br>
<i><b>Favorite vegetable?</b></i><br>
Sweet taters, because they’re sweet and they’re carbs!
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Saturday, 2pm-3pm! 
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}