{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week: The Bubblahs</h1>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style=background-image:url('/static/images/djs/2013-10-30.jpg');width:100%;height:300px;background-size:cover;></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
We are Josh Pondick & Graham Edwards, but together we make The Bubblahs. Every Wednesday morning at 8 since the fall of 2011 we have been bringing funk and soul music to WBOR. We play classic tunes from the greats such as James Brown, Parliament, Marvin Gaye, and the Temptations, as well as awesome tracks from modern funk and soul groups such as Fitz & the Tantrums, Budos Band, Trombone Shorty, and the Daktaris. 
<br><br>
<i><b>Greatest musician of all time and why?</b></i><br>
The impossible illegitimate love child of James Brown & Ray Charles…Stevie Wonder.
<br><br>
<i><b>Song that makes you cry?</b></i><br>
Better Off Dead by Bill Withers
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
Fitz & the Tantrums…last weekend in Portland. 
<br><br>
<i><b>Best song to study to?</b></i><br>
Unc by Trombone Shorty
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
Super Fly by Curtis Mayfield to help us stay cool.
Food for Thought by the J.B.’s to feed our body and soul.
Mothership Connection by Parliament to summon the funkadelic mothership to party with us on the desert island.
<br><br>
<i><b>Guilty pleasure song?</b></i><br>
Superfreak by Rick James. 
<br><br>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
Louis Armstrong. The man is a legend, such a key player in early jazz, and one of the great-grandfathers of funk, soul, and R&B. 
<br><br>
<i><b>Most played song on your iTunes?</b></i><br>
T.I.B.W.F. by the Budos Band
<br><br>
<i><b>Favorite era of music?</b></i><br>
Take a wild guess…
<br><br>
<i><b>Favorite place on campus?</b></i><br>
Other than WBOR, we would have to say Hubbard Hall
<br><br>
<i><b>Favorite vegetable?</b></i><br>
Peas. Can you pass them please?
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Wednesday Morning from 8-9.</p>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}