{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week: The Colebearman Report</h1>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style=background-image:url('/static/images/djs/2013-11-06.jpeg');width:100%;height:300px;background-size:cover;></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
Katie Coleman and Anna Bearman, both class of 2016. Combined we make the Colebearman Report. We’re pretty experienced DJs with a solid semester of DJing under our belts. We get on the radio and talk about whatever is on our minds, which on any given day could fall anywhere in the range between sharks (predominantly) and how many stickers are on the walls of the DJ booth. We just play whatever feels right in the next slot, from hip-hop to bluegrass. 
<br><br>
<i><b>Greatest musician of all time and why?</b></i><br>
K: Hall and Oates. They make my dreams come true.<br>
A: Béla Fleck, he kills on the banjo.
<br><br>
<i><b>Song that makes you cry?</b></i><br>
K: Most songs make me cry. I guess I cry a lot.<br>
A: I rarely cry but when I do its to Wild Horses by The Rolling Stones. 
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
K: I saw Further in Philadelphia when I was 15. A guy told me I looked like a burning tiki torch, so I felt pretty complimented. <br>
A: The Tallest Man On Earth played in my favorite venue over the summer. It is amazing how one person can have such a powerful stage presence. 
<br><br>
<i><b>Best song to study to?</b></i><br>
A: Wonderful World by Sam Cooke. I don’t know much about history and that song makes me feel fine about that.<br>
K: Anything that shows up on Motown Pandora. It’s always time for Motown.
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
K: That depends on how edible the albums are. I think I’d probably be more worried about food if I were stuck on a desert island.<br>
A: Some matches and a machete wouldn’t hurt either. 
<br><br>
<i><b>Guilty pleasure song?</b></i><br>
K: Honestly I can jam to Toxic at any time of day. Britney’s my girl.<br>
A: I know more words to Poison then Bell Biv DeVoe do. 
<br><br>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
A: Syd Barrett, I would love to hear See Emily Play live. <br>
K: The Avett Brothers, so I could force them to play If It’s the Beaches live. They never do that. So maybe for me… you really never know.
<br><br>
<i><b>Most played song on your iTunes?</b></i><br>
K: Beyond Any Doubt by s / s / s. <br>
A: Dancing in the Moonlight by King Harvest 
<br><br>
<i><b>Favorite era of music?</b></i><br>
K: 60s-80s. Plus 90s rap. It’s all about that Dre.<br>
A: Nothing is wrong with that statement. 
<br><br>
<i><b>Favorite place on campus?</b></i><br>
A: I’m a big fan of outdoor napping on the quad.<br>
K: Anywhere that isn’t the library. That place hurts my spirit.
<br><br>
<i><b>Favorite vegetable?</b></i><br>
A: I love beets.<br>
K: I really like tomatoes. This is complicated though. Society tells us that tomatoes are a vegetable, but science tells us that tomatoes are a fruit. This brings up a huge internal conflict and I just don’t know if I can trust tomatoes. So, like Anna, I’ll say beets.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Tuesday from 3:30-4:30 (pm, not am, sorry you nocturnal folk and raccoons).</p>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}