{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 02-12-2014:</h1>
<h2>Jared and Michael</h2>
<h2>The 36th Chamber</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-02-12.jpg');width:100%;height:300px;background-size:cover;background-position: 0px -200px;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
Jared Feldman: DJ Quickdraw, Class: 2016<br>
Michael Smith: DJ Sweetluvin, Class of 2016.<br>
We host the 36th Chamber: Beats Rhythm and life with M and J. We’ve been holding it down since freshman year, bringing the people of Brunswick the delightful sounds of 90’s hip hop, as well as more modern songs.
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>
Jared: The GZA. Because he’s the only true genius. No diploma required.<br>
Michael: I’m gonna go with Ghost, aka, Tony Starks, aka, Pretty Tony, aka (maybe) Action Bronson. The man just treats the English language like a series of casual suggestions. His appearances on VH1’s Couple’s Therapy have only heightened my esteem of the man. Even his fake internet persona is money.
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
Jared: Life Goes On by Tupac Shakur. It’s just so touching. RIP to all the street soldiers.<br>
Michael: Christmas Shoes used to reduce me to tears in elementary school. I don’t know who sings it, but they’re responsible for a lot of embarrassment.
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
Jared: The Legendary Roots Crew and My Morning Jacket collaborative concert, the combination of facial hair from Quest and Jim James really brought the two groups together. But actually, the defining moment was Jim James singing Dear God with The Roots.<br>
Michael: The time I saw Fall Out Boy in seventh grade might have been the best night of my life. I’m not proud of it, but I was ecstatic. Pete Wenzt swears a lot more than you think. I remember having my mom put blue and red spikes in my hair.
<br><br>
<i><b>Best song to study to?</b></i><br>
Jared: Work by Gang Starr. Probably (definitely) the most played song on the chamber. This line: “A-yo I’m gonna be on ti-dop, that’s all my eyes can see,” pushes me through those long, smothering nights.<br>
Michael: Move that Dope by Future, Pharell, King Push, and Casino. It may be new, but I just wrote a paper with that on a loop. 
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
Jared: Enter the Wu-Tang: 36 Chambers, does this need an explanation? It has so much personality, and is so eclectic, I could never get sick of it. Voodoo by D’Angelo, his neo-soul sound is so soothing, if I ever felt lost, D would bring me back. If I could share Michael’s Kanye album, I would take We Were Dead Before Ship Even Sank by the Modest Mouse, to change things up from that hip-hop grind.<br>
Michael: Tonight’s the Night by Neil Young, because it’s one of the best and I can’t imagine not having Neil Young in my life. My Beautiful Dark Twisted Fantasy by Kanye West, because it’s amazing in a lot of ways and still gives me new things to think about. And the Smile Sessions by the Beach Boys, because it’s the perfect beach album! Sorry, Exile on Main St.
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
Jared: R. Kelly, The entire Trapped in the Closet series.<br>
Michael: None. My tastes are impeccable. IRL, Only the Good Die Young by Billie Joel.
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
Jared: James Yancey aka J. Dilla. His beats revolutionized hip-hop and my taste for the genre, even if he died at only 32 years of age. RIP. <br>
Michael: I would say Kanye, but to switch it up, I’m going to go with Gram Parsons, who died at 26. Parsons was born in my home county, so I feel cosmically attached to the guy. He created the whole ideology of Cosmic American Music, and I feel he’d be a great guy to talk with about how music has changed since his passing.
<br/><br/>
<i><b>Most played song on your iTunes?</b></i><br>
Both: Work! Gang Starr
<br><br>
<i><b>Favorite era of music?</b></i><br>
J: 90s<br>
M: I grew up in the 2000’s, so I think it’s natural that’s the era I’m most attached to. The music that comes out when you’re 17 is always the best.
<br><br>
<i><b>Favorite place on campus?</b></i><br>
J: I know some people think it’s a depressing place, but Hatch basement is my comfort zone.<br>
M: The Art Museum is a place I never get enough of. People should go more.
<br><br>
<i><b>Favorite vegetable?</b></i><br>
J: Broccoli.<br>
M: Cucumbers.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Tuesday morning (Monday night) 12am-1am, we play only bangers.
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}