{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 02-05-2014:</h1>
<h2>Janki & Megan</h2>
<h2>Pillow Talk</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style="background-image:url('/static/images/djs/2014-02-05.jpg');width:100%;height:300px;background-size:cover;background-position: 0px -150px;"></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
<b>Names:</b> Janki Kaneria and Megan Massa, Class of 2014<br>
<b>DJ Names:</b> Disk Janki and Megan<br>
<b>Show:</b> Pillow Talk<br>
<b>Duration:</b> Four years strong, baby!
<br/><br/>
<i><b>Greatest musician of all time and why?</b></i><br/>
<b>Janki:</b> I plead the fifth<br>
<b>Megan:</b> Bruce, no explanation necessary (says the Jersey girl)
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
<b>Janki:</b> “You Raise Me Up” by Josh Groban<br>
<b>Megan:</b> “Long Live the Queen” by Frank Turner
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
<b>Janki:</b> Concerts just aren’t my thing.  I prefer listening to music in my car with the windows down.<br>
<b>Megan: *gives Janki a sidelong glance* That time when I was front row at a Gaslight Anthem concert and Brian Fallon total gave me the head-nod.  *Janki shakes her head*</b>
<br><br>
<i><b>Best song to drive to?</b></i><br>
<b>Janki:</b> Any song by the Civil Wars<br>
<b>Megan:</b> I can’t listen to music when I study…I’d just sing along
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
<b>Janki:</b> Let’s Be Still by The Head and Heart to put me in a good mood; I Am Sasha Fierce by Beyoncé because no explanation needed; and The Little Mermaid Soundtrack to relive my childhood.<br>
<b>Megan:</b> Handwritten by The Gaslight Anthem because I never get tired of listening to them; Beyoncé by Beyoncé because everyone needs a little fierce in their life; and RENT the Original Broadway Cast Recording because it’s awesome and goes on forever.
<br><br>
<i><b>Best guilty pleasure and/or sing-a-long song and why?</b></i><br>
<b>Janki:</b> “Timber” by Pitbull ft. Kei$ha<br>
<b>Megan:</b> “Down” by Jay Sean ft. Lil Wayne
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
<b>Janki:</b> Sonu Nigam because I love him.  I love him.  I just love him.<br>
<b>Megan:</b> Patti Smith because she’s do dope.
<br/><br/>
<i><b>Most played song on your iTunes?</b></i><br>
<b>Janki:</b> “A Thousand Miles” by Vanessa Carleton. LOLOLOL middle school.<br>
<b>Megan:</b> “Mae” by The Gaslight Anthem.  Surprise surprise.
<br><br>
<i><b>Favorite era of music?</b></i><br>
<b>Janki:</b> 80’s pop<br>
<b>Megan:</b> 80’s punk rock
<br><br>
<i><b>Favorite place on campus?</b></i><br>
<b>Janki:</b> 80’s punk rock<br>
<b>Megan:</b> Third floor of Kanbar!
<br><br>
<i><b>Favorite vegetable?</b></i><br>
<b>Janki:</b> Kale right now, but it changes monthly<br>
<b>Megan:</b> Marinara sauce….that’s a vegetable, right?  And it’s pronounced ‘madanad.’  Don’t believe me?  See here: http://youtu.be/qcp8rN-YqLw.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Sundays from 10-11am!
<br/><br/>
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}