{% extends "base.html" %}

{% block title %}DJ of the Week{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>DJ of the Week, 11-20-2013:</h1>
<h2>Gabriel Varela and VJ</h2>
<h2>Civil Disobedience</h2>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
<div style=background-image:url('/static/images/djs/2013-11-20.jpg');width:100%;height:300px;background-size:cover;></div><br>
<p><i><b>Give a Brief description of your show: names, dj names, how long have you been doing this, style, etc.</b></i><br>
We DJ’s Frenchie and ViraJ—both ‘14 boys. We have had the show, Civil Disobedience, since the first semester of our freshmen year, boasting weird electronic, instrumental hip-hop, and trip-hop. The more bizarre the track, the more we dig it! We patron the same labels: Warp, Ninja Tune, Brainfeeder, and Stonesthrow to name a few, but usually introduce each other to things outside our usual boundaries. ViraJ is the (sometimes) more serious and knowledgeable character, while the Frenchie clowns around and makes inappropriate, PG-13 comments. We both have a thirty-minute segment of a shared hour show. Preparation wise, we prepare lists of tracks or wing it with what we feel in the moment, and lately ViraJ has been doing home-mixed sets just for the show!<br><br>
<i><b>Greatest musician of all time and why?</b></i><br/>
Gabe: Prefuse 73 holds the keys to my heart right now. His original sound, born out of glitch, continuously amazes me in terms of production technique, design and straight pleasure.<br/>
VJ: I think Miles Davis was the greatest musician of all time, and that was a testament to his incredible work ethic and boundary pushing aims. When he was signed to Columbia Records, he had a few years left on the Prestige Label contract for 4 albums. Davis was so excited to move on he made the remaining Prestige records in one night supposedly. 
<br/><br/>
<i><b>Song that makes you cry?</b></i><br>
Gabe: Atmosphere—“A Girl Named Hope”. A girl leaving you as a metaphor for hope disappearing…them feels. <br/>
VJ: Common—“I Used to Love H.E.R”. The song relates hip-hop’s trajectory into the mainstream where its philosophy dramatically skewed from the Daisy Age’s spirit.
<br><br>
<i><b>Most amazing concert experience?</b></i><br>
Gabe: Daft Punk’s “Alive” concert in Paris! First big concert, ultimate big concert.<br/>
VJ: Flying Lotus on his birthday last November at Terminal 5 in NYC. He just put out Until the Quiet Comes weeks before. Too dope.  
<br><br>
<i><b>Best song to study to?</b></i><br>
Gabe: “Sighting” —Spaceheater. Sweet instrumental jazz transformed into a beat, no lyrics to take the mind away but enough rhythm to put anyone in the zone.<br/>
VJ: “Pedestal”—Portishead. Beth Gibbons’ voice is unreal!
<br><br>
<i><b>If you were stuck on a desert island, what three albums would you take with you and why?</b></i><br>
Gabe: Sgt. Pepper's Lonely Hearts Club Band, Drum Therapy and Be. Three different styles, three albums with virtually unlimited replay value. I’d probably sneak in some kind of Morse code walkthrough just in case, you know, I want to get the hell outta there.<br/>
VJ: Radiohead’s Hail to the Thief, Flying Lotus’s Los Angeles (at this point I sound like a broken record), and A Tribe Called Quest’s Midnight Marauders. 
<br><br>
<i><b>Guilty pleasure song and why?</b></i><br>
VJ: “Closer”—Nine-Inch Nails. Opener to Se7en, one of my favorite films. Really creeps me out though and makes me question why I listen to it…every time.  <br/>
Gabe: Avicii—“Wake me up”…Guilty as charged.
<br/><br/>
<i><b>If you could meet any musician, dead or alive, who would it be and why?</b></i><br>
Gabe and VJ: J Dilla. He is a staple in our iTunes. He seems like such a wise, passionate, and humble character, only made more evident by completing the album Donuts on his deathbed in a hospital. <br/><br/>
<i><b>Most played song on your iTunes?</b></i><br>
Gabe: “1993” —DJ Signify. <br/>
VJ: Knxwledge.—FastBread on WrapTaypes.Port2. 
<br><br>
<i><b>Favorite era of music?</b></i><br>
Gabe: 90’s in Europe… I would have loved to be part of the rising industrial-punk-weird-electronic stuff happening in England back then.<br/>
VJ: I’m in love with the resurfacing of nineties trip-hop happening in the LA beat scene right now, I’m not a huge fan of what they call it though, wonky. 
<br><br>
<i><b>Favorite place on campus?</b></i><br>
Gabe: Bathrooms with the eco-rep fliers, in my opinion some of the best readings I have done all year.<br/>
VJ: Hexagon bench on the quad :P.  <br><br>
<i><b>Favorite vegetable?</b></i><br>
Gabe: Cucumber…for obvious reasons.<br/>
VJ: Grilled eggplant…for tasty reasons.
<br><br>
<i><b>When can we tune into your show?</b></i><br>
Tune in every Sunday from 10pm to 11pm for some weirdo DJs and awesome muzak! Also, VJ does a live DJ set on weekends at Chase Barn from 10PM-12AM.
</div>
{% include "DJOTWarchives.html" %}
</div>
{% endblock %}