{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block top_row %}
<div class="span12">
  <h1>Events</h1>
  <hr>
</div>
{% endblock %}

{% block left_column %}

<div class='events'>
  {% if events %}
  {% for e in events %}
  <div>
    {% if e.slug %}
    <h3><a href='{{ e.slug }}'>{{ e.title }}</a></h3>
    {% else %}
    <h3>{{ e.title }}</h3>
    {% endif %}
    <h6>{{ e.event_date|date:"F j, Y g:i a"}}</h6>
    <p>{{ e.text|safe }}</p>
    {% if logged_in %}
    <a href='/dj/event/{{ e.key.urlsafe }}'>Edit</a>
    {% endif %}
  </div>
  {% endfor %}
  {% else %}
  <div>
    There are no events scheduled for the immediate future.
  </div>
  {% endif %}
</div>

{% endblock %}
