{% extends "base.html" %}

{% block title %}WBOR History{% endblock %}

{% block main_content %}
<div class="row"><div class="span12">
<h1>History</h1>
<hr>
</div></div>
<div class='row'>
<div class="span7 history">
  
  <p><strong>WBOR (91.1 FM)</strong> is a public radio station licensed to Bowdoin College in Brunswick, Maine. The station is currently housed in the basement of the Dudley Coe Health Center on Bowdoin College campus and its 300 watt signal is broadcast from the top of the Coles Tower, the second tallest building in Maine. WBOR can be heard throughout the midcoast area and sometimes as far away as Portland. WBOR also streams online and can be heard through this site, www.wbor.org.</p>
  
  <p>Programming consists of an eclectic mix of indie rock, classical, electronic music, blues, jazz, metal, folk, world music, talk, news, sports, political, and just about anything else you can think of. Although WBOR has no ads, public service announcements are read every hour in accordance with FCC regulations. DJs are predominately Bowdoin College students, however many Bowdoin faculty members, as well as community members host weekly shows. WBOR also publishes a music, arts, and literature magazine, the WBOR Zine, several times a year.</p>
  
  <h2>Timeline</h2>
  
  <p>At least as far back as March 1941, Bowdoin students and faculty have sporadically hosted programs recorded on campus and later broadcasted through Portland's WCSH, Lewiston's WCOU, Augusta's WRDO, and Bangor's WLBZ. These programs usually consisted of a combination of play readings, faculty interviews, and live vocal music, usually from the Bowdoin College Glee Club and the Meddiebempsters.</p>
  
  <p>In the late 1940's, Bowdoin begins a program entitled &ldquo;Bowdoin-on-the-air&rdquo;  (BOTA), where students would record radio broadcasts, which Portland's WGAN would broadcast on a semi-regular basis. In March of 1948, BOTA forms the Radio Drama Workshop to organize the writing, directing, and producing of student radio dramas. </p>

  <p>On April 25, 1948, BOTA broadcasts its first original radio drama created by the workshop. The drama, entitled &ldquo;The Bowdoin Plan,&rdquo; is written by Herbert L. Gould, class of 1950. The Orient lauds it as &ldquo;the most ambitious thing yet attempted by the group.&rdquo; A recording of the play is sent to all New England colleges with radio stations as an example of what a college station can accomplish.</p>

  <p>In 1947, due to the popularity of BOTA, President Kenneth Sills forms a committee to look into the possibility of building an AM radio station on campus. After a $4,000 gift from the Class of 1924 is secured, the offices of the student newspaper on the second floor of Moulton Union are transformed into a radio station. The new studio opens in December of 1949. The station is equipped with an AM transmitter, as well as a direct phone line to WGAN in Portland.</p>

  <p>At 10:15 pm on February 16, 1949, BOTA broadcasts a pre-recorded interview with Red Sox short-stop Johnny Pesky on WGAN.</p>

  <p>On March 22, 1950, BOTA makes the first test of their new AM transmitter. An &lquot;experimental program&rquot; of campus news and music is broadcast live at 7:45pm on 820 AM. Due to the weakness of their AM signal, BOTA continues to broadcast through Portland's WGAN for another year.</p>

  <p>In Spring of 1950, Bowdoin-on-the-Air becomes a weekly fixture in WGAN's programming, airing every Sunday at 1:45pm. Through a direct phone line, BOTA is able to broadcast on WGAN live from their new Moulton Union studio. The first live broadcast, a performance of William Butler Yeats' play, A Pot O' Broth, is aired on April 16, 1950. The following fall, programming is expanded to half an hour, with an additional &ldquo;experimental&rdquo; four-hour evening show featuring news, sports, interviews, dramatic skits, classical &ldquo;music to study by,&rdquo; and jazz &ldquo;music not to study by.&rdquo;</p>

  <p>On March 16, 1951, delegates from BOTA travel to Northampton, Massachusetts to attend the Intercollegiate Radio Conference at Smith College. The conference is the first of its kind in the east.</p>

  <p>At 7pm on May 9, 1951, BOTA begins officially broadcasting on 820 AM. In conjunction with the official switch, BOTA changes their name to WBOA (Bowdoin-on-air), their official FCC station name.</p>

  <p>In December of 1956, WBOA reregisters with the FCC as a FM station and is granted the broadcast frequency of 91.1 mHz. In conjunction with the switch to FM, WBOA changes its name to WBOR (Bowdoin-on-radio). On February 20, 1957, WBOR's first FM broadcast is heard across campus. Prior to this, WBOA could only be heard in the freshmen dorms within a few hundred feet of the Moulton Union station.</p>

  <p>On May 6, 1964, WBOR is put in charge of recording Martin Luther King's speech on Bowdoin campus. The recording can be heard <a href='http://www.bowdoin.edu/news/archives/1bowdoincampus/001804.shtml'>here</a>. </p>

  <p>In 1968, WBOR begins publishing a weekly music newsletter entitled &ldquo;Turntable Rumble.&rdquo; By spring of 1970, &ldquo;Turntable Rumble&rdquo; had disappeared altogether.</p>

  <p>On October 19, 1982, after a two-year battle with local radio and T.V. stations, the FCC gives WBOR the go ahead to increase their signal strength to 300 watts.</p>

  <p>On March 9, 1984, WBOR hosts a &ldquo;Breakdance Showdown&rdquo; between breakdance squads &ldquo;The Bionic Brothers,&rdquo; &ldquo;Breakster's Express,&rdquo; and &ldquo;The M.M. Connection.&rdquo;</p>

  <p>In October of 2000, WBOR begins broadcasting worldwide through an online stream. The stream can be picked up at WBOR.org, in the top-right corner of this page.</p>

  <p>In October of 2001, the Bowdoin student newspaper begins running a &ldquo;DJ of the Week&rdquo; column.</p>

  <p>Starting May of 2002, WBOR began continuous programming with its community members and a few Bowdoin students.  Since then, WBOR has been on the air with a limited summer and break schedule (thanks to Bill Morse) with the help of overnight CD's and iTunes playlists.</p>

  <p>In fall of 2003, WBOR begins printing an untitled music and arts magazine. In 2004, after much deliberation, the publication is titled &ldquo;FlipYourShit.&rdquo; &ldquo;FlipYourShit&rdquo; is published regularly until fall 2006. After the famous &ldquo;Save WBOR&rdquo; fall 2006 issue, &ldquo;FlipYourShit&rdquo; goes on a largely unexplained two year hiatus. In fall of 2008, the WBOR magazine reappears (with its former title &ldquo;FlipYourShit&rdquo; dropped) to rave reviews.</p>

  <p>In fall of 2006, WBOR comes under heavy fire from the FCC, when attempting to renew their license, due to gaps in the station record books. A &ldquo;Save WBOR&rdquo; campaign is mounted and over a 600 letters from students, faculty, alumni, and community members, including Senator Olympia Snow, are sent to the FCC office in support of WBOR, citing its major role in the midcoast Maine community. The FCC is swayed and decides to renew WBOR's license, letting the station off with a fine.</p>
</div>
<div class="span5 pull-right">
  <h2>Concert History</h2>
  
  WBOR has a long history as a major concert promoter for the midcoast Maine area. Recently WBOR has hosted concerts by:
  <ul>
    <li>Rainer Maria (4/28/04)</li>
    <li>The Secret Machines (1/29/05)</li>
    <li>The Hold Steady (3/31/06), Oh No Oh My (9/8/06)</li>
    <li>Bishop Allen (3/1/07)</li>

    <li>The Suburban Kids with Biblical Names (4/4/07)</li>
    <li>Dr. Dog (11/16/07)</li>
    <li>The One AM Radio (4/12/08)</li>
    <li>Broken Social Scene (10/25/08)</li>
    <li>Wale (4/3/09)</li>
    <li>Deerhunter (9/10/09)</li>
    <li>The Morning Benders (11/??/10)</li>
    <li>Eli "Paperboy" Reed (2/??/11)</li>
    <li>Local Natives (??/??/11)</li>
    <li>RJD2 (11/2/12)</li>
    <li>Schlohmo (11/2/12)</li>
  </ul>
  <h2>Notable WBOR Alumni</h2>
  <ul>
    <li>Victor Fields, class of 1975 &mdash; jazz singer</li>
    <li>Kary Anotholis, class of 1984 &mdash; academy-award winning documentary filmmaker and vice president of HBO</li>
    <li>Steve Laffey, class of 1984 &mdash; mayor of Cranston, Rhode Island from 2003 to 2007 &mdash; hosted a show entitled &ldquo;The Joe Show&rdquo; on WBOR</li>
    <li>Paul D. Miller aka DJ Spooky that Subliminal Kid, class of 1992 &mdash; DJ, electronic musician, composer, multimedia artist, author, and professor of music at the European Graduate School &mdash; hosted a show entitled &ldquo;Dr. Seuss' Eclectic Jungle&rdquo; on WBOR</li>
    <li>Jose Ayerve, class of 1996 &mdash; singer-songwriter, recording engineer, producer, and the front man for northeast-based indie rock groups Spouse and Nuclear Waste Management Club</li>
    <li>Nathan Michel, class of 1997 &mdash; composer, electronic musician, and multi-instrumentalist</li>
    <li>Michael Merenda, class of 1998 &mdash; singer-songwriter, member of folk group the Mammals</li>
    <li>Mirza Ramic, class of 2005 &mdash; electronic musician, member of the band Arms and Sleepers</li>
  </ul>
</div>
</div>
</div>

{% endblock %}
