{% extends "base.html" %}

{% block title %}WBOR{% endblock %}

{% block extra_scripts %}

<script type='text/javascript'>
  $(function() {
    $("#newalbums").load("/ajax/albumtable/", {'page': 0}, function(data) {
      $("#albumlist li a").lightBox({
          imageLoading: '/static/images/lightbox-ico-loading.gif',
      	imageBtnClose: '/static/images/lightbox-btn-close.gif',
      	imageBtnPrev: '/static/images/lightbox-btn-prev.gif',
      	imageBtnNext: '/static/images/lightbox-btn-next.gif',
      	imageBlank: '/static/images/lightbox-blank.gif',
      });
    });
  });
</script>
{% endblock %}


{% block left_column %}
<div id='latestplays'>
    <h4>Recently on WBOR</h4>
    <i>Loading...</i>
</div>

<div id='upcomingevents'>
  <h4>Upcoming Events</h4>
  {% if events %}
  {% for e in events %}
  <div>
    {% if e.url %}
    <h5><a href='{{ e.url }}'>{{ e.title }}</a></h5>
    {% else %}
    <h5>{{ e.title }}</h5>
    {% endif %}
    <h6>{{ e.event_date|date:"F j, Y g:i a"}}</h6>
    <p>{{ e.desc }}</p>
    {% if logged_in %}
    <a href='/dj/event/{{ e.key }}'>Edit</a>
    {% endif %}
  </div>
  {% endfor %}
  {% else %}
  <div>
    There are no events scheduled for the immediate future.
  </div>
  {% endif %}
</div>

<div id='charts'>
    <h4>Top 10s</h4>
    <div class='chart-toggler chart-selected'>
    Songs
    </div>
    <div class='chart-toggler'>
        Albums
    </div>
    {% if top_songs %}<ol class='charttable' id='songtable'>
        {% for song in top_songs %}
        <li>{{ song.1 }}, {{ song.2 }}, <i>{{ song.3 }}</i>
        {% endfor %}
    </ol>{% else %}<div class='charttable' id='songtable'>
        There are no recent charts off the new shelf.
    </div>{% endif %}
    
    {% if top_albums %}<ol class='charttable' id='albumtable'>
        {% for album in top_albums %}
        <li><i>{{ album.1 }}</i>, {{ album.2 }}
        {% endfor %}
    </ol>{% else %}<div class='charttable' id='albumtable'>
        There are no recent charts off the new shelf.
    </div>{% endif %}
</div>

<div id='newalbums-poop'>
    <h4>On The New Shelf</h4>
    <ul id='albumlist'>
        {% for album in album_list %}<li><a href='/albums/{{ album.cover_large_key|urlencode }}' title='{{ album.title|escape }} - {{ album.artist|escape }}'><img src='/albums/{{ album.cover_large_key|urlencode }}' /></a></li>{% endfor %}
    </ul>
</div>

{% endblock %}

{% block right_column %}
    {% include "last_n_posts.html" %}
{% endblock %}
