{% extends "base.html" %}

{% block title %}WBOR{% endblock %}

{% block extra_scripts %}

<script type='text/javascript'>
  $(function() {
    $("#newalbums").load("/ajax/albumtable/", {'page': 0}, function(data) {
      $("#albumlist li a").lightBox({
          imageLoading: '/static/images/lightbox-ico-loading.gif',
      	imageBtnClose: '/static/images/lightbox-btn-close.gif',
      	imageBtnPrev: '/static/images/lightbox-btn-prev.gif',
      	imageBtnNext: '/static/images/lightbox-btn-next.gif',
      	imageBlank: '/static/images/lightbox-blank.gif',
      });
    });
  });
</script>
{% endblock %}


{% block left_column %}
<div id='latestplays'>
    <h2>Recently on WBOR</h2>
    <i>Loading...</i>
</div>

<div id='upcomingevents'>
  <h2>Upcoming Events</h2>
  {% if events %}
  {% for e in events %}
  <div>
    {% if e.url %}
    <h5><a href='{{ e.url }}'>{{ e.title }}</a></h5>
    {% else %}
    <h5>{{ e.title }}</h5>
    {% endif %}
    <h6>{{ e.event_date|date:"F j, Y g:i a"}}</h6>
    <p>{{ e.desc }}</p>
    {% if logged_in %}
    <a href='/dj/event/{{ e.key }}'>Edit</a>
    {% endif %}
  </div>
  {% endfor %}
  {% else %}
  <div>
    There are no events scheduled for the immediate future.
  </div>
  {% endif %}
</div>

<div id='charts'>
  <h2>Top 10s</h2>
  <div class="tabbable">
    <ul class='nav nav-tabs'>
      <li class="active"><a href="#topsongs" data-toggle="tab">Songs</a></li>
      <li><a href="#topalbums" data-toggle="tab">Albums</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="topsongs">
	{% if top_songs %}<table class='charttable table'>
            <thead><tr><th>#</th>
                <th>Track Name</th>
            <th>Artist</th>
            <th>Album Title</th></tr></thead>
            <tbody>
        {% for song in top_songs %}
        <tr><td>{{forloop.counter}}.</td><td>{{ song.1 }}</td><td>{{ song.2 }}<td><i>{{ song.3 }}</i></td></tr>
        {% endfor %}
        </tbody>
	</table>{% else %}<div class='charttable'>
        There are no recent charts off the new shelf.
	</div>{% endif %}
      </div>
	<div class="tab-pane" id="topalbums">
	  {% if top_albums %}<table class='charttable table'>
            <thead><tr><th>#</th>
            <th>Artist</th>
            <th>Album Title</th></tr></thead>
            <tbody>
          {% for album in top_albums %}
          <tr><td>{{forloop.counter}}.</td><td><i>{{ album.1 }}</i></td><td>{{ album.2 }}</td></tr>
          {% endfor %}
          </tbody>
	  </table>{% else %}<div class='charttable'>
          There are no recent charts off the new shelf.
	  </div>{% endif %}
	</div>
      </div>
    </div>
  </div>
  <div id='newalbums-poop'>
    <h2>On The New Shelf</h2>
    <ul id='albumlist'>
      {% for album in album_list %}<li><a href='/albums/{{ album.cover_large_key|urlencode }}' title='{{ album.title|escape }} - {{ album.artist|escape }}'><img src='/albums/{{ album.cover_large_key|urlencode }}' /></a></li>{% endfor %}
    </ul>
  </div>

  {% endblock %}

  {% block right_column %}
  {% include "last_n_posts.html" %}
  {% endblock %}
