{% extends "base.html" %}

{% block title %}Playlists{% endblock %}

{% block main_content %}

<div class='center playlist'>
  <h4>Playlists</h4>
  <div>
	<h5>Playlist Search</h5>
	<form method="GET" id="" action="">
	  <label for="programdate">Date (leave blank for most recent playlist):
		<input type="text" class="datepicker" name="programdate" id="programdate" />
	  </label><br />
	  <label for="show">Show:
		<select id="show" name="show">
		  {% for s in shows %}<option value={{ s.slug }}>{{ s.title }}</option>{% endfor %}
		</select>
	  </label><br />
	  <input type="submit" name="submit" value="Search" />
	</form>
  </div>
  <div>
	
  </div> 
</div>

{% endblock %}
