{% extends "base.html" %}

{% block title %}WBOR Schedule{% endblock %}

{% block main_content %}
<div class="row">
  <div class="span12">
  <h1>Schedule</h1>
    <hr>
  </div>
</div>

<div class='center schedule'>
  <p>You can either <a href='/static/pdf/schedule.pdf'>download the schedule</a>, or view it below.</p>
  
<iframe src="https://www.google.com/calendar/embed?src=wbor.org_un57ts75e22bmu3qrslou318pk@group.calendar.google.com&ctz=America/New_York&mode=WEEK&height=600" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>


</div>

{% endblock %}
