{% extends "base.html" %}

{% block title %}WBOR Schedule{% endblock %}

{% block main_content %}

<div class='center schedule'>
  <h4>Schedule</h4>
  <p>You can either <a href='/static/pdf/schedule.pdf'>download the schedule</a>, or view it below.</p>
  
<iframe src="http://www.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=u4m39banefjtb2b6147n9ds8jo%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>  

</div>

{% endblock %}