{% extends "base.html" %}

{% block left_column %}
<div>
  <h4>{{ program.title }}</h4>
  {{ program.page_html|safe }}
</div>

<div id='show-djs'>
  <h4>DJs</h4>
  <ul>
	{% for dj in djs %}
	<li>{{ dj.fullname }}
	{% endfor %}
  </ul>
</div>

<div id='charts'>
  <h4>Show Stats</h4>
  <div class='chart-toggler chart-selected'>
    Top Artists
  </div>
  <ol class='charttable' id='songtable'>
    {% for a in program.top_artists|slice:":5" %}
      <li>{{ a }}
    {% endfor %}
  </ol>
</div>
{% endblock %}

{% block right_column %}
<div>
  <h4>Brief</h4>
  {{ program.desc }}
</div>
{% include "last_n_posts.html" %}
{% endblock %}
