{% extends "base.html" %}

{% block left_column %}
<div>
  <h1>{{ program.title }}</h1>
  {{ program.page_html|safe }}
</div>
<hr>
<div id='charts'>
  <h2>Show Stats</h2>
  <h3>Top artists</h3>
  <ol class='charttable' id='songtable'>
    {% for a in program.top_artists|slice:":5" %}
      <li>{{ a.0 }}
        <div class="progress" style="margin-bottom: 9px;">
          <div class="bar"
               style="width: {% widthratio a.1 program.num_top_plays 100 %}%;">
          </div>
        </div></li>
    {% endfor %}
  </ol>
</div>
{% endblock %}

{% block right_column %}
<div id='show-djs' class="well">
  <h2>With...</h2>
  <ul>
	{% for dj in djs %}
	<li>{{ dj.fullname }}
	{% endfor %}
  </ul>
</div>
<div>
  <h2>Brief</h2>
  {{ program.desc }}
</div>
{% endblock %}
