body {
    background-color: #201F25;
}

#albumtable {
    display: none;
}

#wrap {
    position: relative;
    background-color: white;    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#outer-wrap {

    padding: 8px;
    background: transparent url(../images/shadow.png) repeat;
    margin: 20px auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#logo img {
    display: block;
}

#logo {
    color: white;
    margin-top: 5px;
}

acronym {
    border-bottom: 1px dotted white;
}


#header {
    background-color: #66F;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.header {
    height: 100%;
}

.navbar-nowplaying {
  margin-left: -10px;
  margin-right: -10px;
}

#download-m3u {
    margin-top: 26px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background: yellow url(../images/spin.gif) no-repeat scroll 11px 19px;
    font-size: 1.15em;
    width: 13em;
    border: 2px solid black;
}

#download-m3u a {
    display: block;
    height: 100%;
    padding: 10px 0 10px 48px;
    text-decoration: none;
    color: black;
}

#download-m3u:hover {
    background: black url(../images/spinner.gif) no-repeat scroll 11px 19px;
    color: white;
}

#download-m3u a:hover {
    color: white;
}

.navbar_clear {
    height: 124px;
}

div.center {
   padding: 10px; 
}

.center div, .left div, .right div, .top_row div {
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.left div div {
    padding: 0;
    border: 0;
}

.chart-toggler {
    display: inline-block;
    width: 49.5%;
    text-align: center;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    border: 2px solid black;
    height: 25px;
    background-color: #201F25;
    color: white;
    font-weight: bold;
}

div.chart-selected {
    background-color: #66F;
    position: relative;
    bottom: -5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

h4 {
    text-align: center;
}

.post h5, .events h5, #upcomingevents div h5 {
    margin-bottom: 0;
}

.post h6, .events h6, #upcomingevents div h6 {
    font-size: 0.9em;
}

.events, .onecol {
    width: 600px;
    margin: 0 auto;
}

div.history, div.contact {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

div.contact a {
    text-decoration: none;
}

div #edit-dj {
	align: center;
}

div #edit-dj-form {
	width: 200px;
	text-align: left;
}

#edit-dj-form form input {
	width: 100%;
}

label { display: block; }

#charts {
}

#showdesc h4 a, #showdesc h4 a:visited {
    color: black;
} 

footer{
  margin: 10px -10px -10px -10px;
    text-align: center;
    background-color: #131218;
    color: #DDD;
    height: 80px;
    padding-top: 20px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#albumlist li {
    display: inline-block;
    *display: inline;
    list-style: none;
    margin-left: 3px;
}

#manage-albums-list2 li {
  display: inline-block;
  *display: inline;
  list-style: none;
  margin-left: 3px;
  max-width: 100px;
  cursor: pointer;
  position: relative;
  border: 2px solid black;
  padding: 3px;
  margin-top: 5px;
}

#manage-albums-list li {
  list-style: none;
  margin-left: 3px;
  cursor: pointer;
  position: relative;
  padding: 3px;
  margin-top: 5px;
}

#manage-albums-list li div {
  cursor: pointer;
}

#albumlist li {
}

#albumlist li.span2 a img {

}

table.charttable, ol.charttable, div.charttable {
}

ul.nav.nav-tabs {
  margin-bottom: 0px;
}

#showdeschidden {
    display: none;
    text-align: justify;
}

#showdeschidden p {
  margin-bottom: 10px;
  text-align: center;
}

#latestplays table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#latestplays tr td {
    padding: 10px;
    width: 33%;
    text-align: center;
}

.balancedtable tr td:first-child {
  text-align: right;
  padding: 5px;
}

.balancedtable tr td:last-child {
  text-align: left;
  padding: 5px;
}

#latestplays tr td:first-child {
    text-align: right;
}

#latestplays tr td:last-child {
    text-align: left;
}

#latestplays tr.highlight:hover {
    background-color: #DDD;
}

#latestplays tr td {
    padding: 0;
}
.flash-msg, .error {
  text-align: center;
  color: red;
}

.autocomplete-w1 { background:url(/static/images/shadow_ac.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

#new-song-div {
  display: none;
}

#add-album-list li {
  display: inline-block;
  *display: inline;
  list-style: none;
  margin-left: 3px;
  width: 45%;
  text-align: center;
  border: 2px solid black;
  background-color: #131218;
  color: #DDD;
  margin-bottom: 6px;
  cursor: pointer;
  padding: 5px;
}

#add-album-list li.album-processing {
  background-color: #112233;
  color: #DDD;
}

#add-album-update {
  display: none;
}

#old-album-update {
  display: none;
}

.newalbum:hover {
  background-color: #F88;
}

.oldalbum:hover {
  background-color: #8F8;
}

.workingalbum {
  background-color: #CCC;
}

#manual-cover-preview img {
  max-width: 200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.album-manager img {
  width: 75px;
  height: 75px;
}

#select-program {
  text-align: center;
}

textarea.tinymce {
  width: 100%;
  height: 200px;
}

form table {
  width: 100%;
}

form table td {
  padding: 5px;
}

.loginbox {
  width: 300px;
  margin-left: 300px;
  text-align: center;
}
.resetbox {
  width: 400px;
  margin-left: 250px;
  text-align: center;
}

#voicewidget {
    padding-top: 20px;
}

#playlistresults h5 {
    margin-bottom: 0;
}

#playlistresults h6 {
    font-size: 0.85em;
}

#playlistsearch label {
    display: block;
    margin-bottom: 15px;
}

td.formlabel {
    text-align: right;
    width: 0%;
}
td.forminput {
    text-align: left;
    width: 100%;
}
td.forminput input{
    width: 100%;
}

.dropdown .dropdown-header p {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #444;
  white-space: nowrap;
}